.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #007F5F; */
  /* margin-top: 100px; */
}
.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .input-group input-group-lg{
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
------------------------------------------------- */
/* body {
  background-color: #007F5F;
} */
.owner-btn {
  font-family: monospace;
  padding: 10px;
  position: absolute;
  top: 8px;
  right: 16px;
  /* background-color: #007F5F; */
  border-radius: 20px;
  width: auto;
  color: aliceblue;
}
.owner-btn:link {
  color: aliceblue;
}
.owner-btn:hover {
  opacity: 0.5;
}
.signup-btn {
  font-family: monospace;
  padding: 10px;
  position: absolute;
  top: 8px;
  right: 110px;
}
.signup-btn:hover {
  opacity: 0.5;
}
.user-btn {
  /* font-family: monospace; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.user-btn:hover {
  opacity: 0.5;
}
.profile-btn {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.profile-btn:hover {
  opacity: 0.5;
}
.home-btn {
  /* font-family: monospace; */
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.home-btn:hover {
  opacity: 0.5;
}
.linkers {
  display: flex;
  justify-content: center;
  margin: 5vh;
}
