.App {
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  /* background-color: #007F5F; */
}
.app-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 5vh; */
}
#app-bar {
  position: static;
  background: rgb(42,157,143);
  background: linear-gradient(90deg, rgba(42,157,143,1) 0%, rgba(80,218,201,1) 100%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*------------------------------------------------- */
/* body {
  background-color: #007F5F;
} */
.owner-btn {
  font-family: monospace;
  border-radius: 20px;
  width: auto;
  color: aliceblue;
}
.owner-btn:link {
  color: aliceblue;
}
#logm {
  text-decoration: none;
  background-color: #1cffe3;
  color: gray;
}
#logm:hover {
  opacity: 0.8;
}
.signup-btn {
  padding: 1vw;
  margin-left: 10vw;
}
#daftar{
  text-decoration: none;
  background-color: #ff8464;
  color: aliceblue;
}
#daftar:hover {
  opacity: 0.8;
}
.user-btn {
  padding-right: 5vw;
}
.user-btn:hover {
  opacity: 0.5;
}
.profile-btn {
  padding-right: 5vw;
}
.profile-btn:hover {
  opacity: 0.5;
}
.home-btn {
  display: flex;
  flex-direction: column;
  padding-right: 5vw;
  align-items: center;
  margin-left: 15vw;
}
.home-btn:hover {
  opacity: 0.5;
}
/* .linkers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5vh;
} */
