.parent {
  /* background-image: url("https://user-images.githubusercontent.com/86279819/134784823-ad15e88c-2a0c-446a-b428-d5815155f6e3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: "#caffbf"; */
}
#search-bar {
  padding-top: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* body {
  background-image: url('https://user-images.githubusercontent.com/86279819/134795518-a9c4ba6e-4a6e-4f46-81d3-6c2afa6843b8.jpg');
  background-size: cover;
  background-position: center;
} */